.product-list .actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    clear: left;
    
}
.product-list .actions button {
    padding: 10px;
    border-radius: 0px;
    border: 0;
    background: #da552f;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.product-list .actions button [disabled]{
    opacity: 0.5;
    cursor: default;
}
.product-list .actions button:hover {
    opacity: 0.7;
}
.product-list .actions button[disabled]:hover {
    opacity: 0.5;
}
